<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Acerca de nosotros
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Un poco sobre nosotros!</ion-card-subtitle>
      <ion-card-title text-center>¿Quienes somos?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Empresa Boyacense.
        Somos una empresa que reúne a madres cabeza de familia con excelente capacitación, buenas prácticas de servicio
        y cordialidad que siempre esta dispuesta a dar lo mejor de sí en cada hogar y organización donde estamos
        contratados.
        Te invitamos a probar nuestros servicios ya que son el motor para que más familias tengan empleo digno y de
        calidad.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Conoce más</ion-card-subtitle>
      <ion-card-title text-center>¿Cuales son nuestros servicios?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Principales servicios:</p>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.pixabay.com/photo/2016/11/19/00/17/broom-1837434__480.jpg">
        </ion-avatar>
        <ion-label>
          <h3><strong>Aseo general</strong></h3>
          <p>Esto es un ejemplo de texto</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://cdn.pixabay.com/photo/2016/11/14/02/34/auto-1822415__480.jpg">
        </ion-thumbnail>
        <ion-label>
          <h3><strong>Lavado de autos</strong></h3>
          <p>Esto es un ejemplo de texto</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.pixabay.com/photo/2014/04/23/10/20/pool-cleaning-330406__480.jpg">
        </ion-avatar>
        <ion-label>
          <h3><strong>Limpieza de piscinas</strong></h3>
          <p>Esto es un ejemplo de texto</p>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-avatar slot="start">
          <img src="https://cdn.pixabay.com/photo/2015/03/26/10/06/gardening-690940__480.jpg">
        </ion-avatar>
        <ion-label>
          <h3><strong>Jardineria</strong></h3>
          <p>Esto es un ejemplo de texto</p>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>