<ion-header class="header">
  <ion-toolbar color="success">

    <img src="/assets/icon/icon.png" class="icon" alt="" />
  </ion-toolbar>
  <p class="ion-text-center">¿Ya tienes una cuenta?</p>
  <ion-button size="small" color="warning" expand="block" class="btn" (click)="loginUser()">
    <ion-icon name="key" slot="start"></ion-icon>
    Iniciar sesión
  </ion-button>
</ion-header>

<ion-content>
  <ion-card class="registry">
    <ion-card-header>
      <ion-card-title class="ion-text-center">REGISTRATE!</ion-card-title>
    </ion-card-header>
    <p class="ion-text-center">Por favor ingrese todos los datos!</p>
    <form #formulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Nombres</ion-label>
          <ion-input type="text" name="nombre" [(ngModel)]="user.nombre" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input [(ngModel)]="user.apellido" name="apellido" type="text" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input [(ngModel)]="user.edad" name="edad" type="number" required></ion-input>
        </ion-item>
       
        <ion-item>
          <ion-label position="floating">Teléfono o celular</ion-label>
          <ion-input [(ngModel)]="user.telefono" name="telefono" type="tel" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input [(ngModel)]="user.correo" name="correo" type="email"
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input [(ngModel)]="user.contrasena" name="contrasena" type="password" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input [(ngModel)]="pass" name="confirmContrasena" type="password" required ></ion-input>
        </ion-item>
      </ion-list>
      <ion-button color="danger" expand="full" type="submit" [disabled]="formulario.invalid">
        <ion-icon name="redo" slot="start"></ion-icon>
        Guardar registro
      </ion-button>
    </form>
  </ion-card>
</ion-content>